<body style="background-color: rgb(233, 233, 233); font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; line-height: 1.5;">
    <section style="max-width: 42rem; margin-left:auto; margin-right:auto;">
        <div style="background-color: rgba(109,40,217,1); padding: 2em;">
            <header style="padding-left: 2rem; padding-right: 2rem; z-index: 10;">
                <a href="#" style="display: inline-block;">
                    <img style="width: auto; height: 1.75rem;" src="" alt="Logo Atletas">
                </a>
                <span style="float: right; color: white; font-weight: bold;">{{day}} de {{month}} del {{year}}</span>
            </header>
        </div>
        <div style="margin-top: 1rem; padding-left: 2rem; padding-right: 2rem; padding-top: 3rem; padding-bottom: 3rem; text-align: center; background-color: white;">
            <h1 style="font-weight: bold; font-size: 1.25rem; line-height: 1.75rem;">Hola {{name}}</h1>
            <h2 style="font-weight: 500; font-size: large;">Bienvenido a tu portal Atletas de Venezuela</h2>

            <p style="color: rgba(55,65,81,1); margin-top: 1.5rem; font-weight: 300;">
                Gracias por registrarte. Para confirmar tu cuenta, verifica tu dirección de correo electrónico haciendo click en el botón de abajo para continuar con su registro.
            </p>

            <p style="color: rgba(55,65,81,1); margin-top: 1.5rem; margin-bottom: 2rem; font-weight: 300;">
                Saludos cordiales, Equipo Atletas de Venezuela.
            </p>

            <a href="{{link}}" style="background-color: rgba(139,92,246,1); color: white; font-weight: bold; padding-top: .5rem; padding-bottom: .5rem; padding-left: 2rem; padding-right: 2rem; border-radius: 9999px; margin-top: 1.5rem; margin-bottom: 1.25rem; text-decoration: none;">
                Confirmar
            </a>
        </div>

        <footer style="margin-top: 2rem; text-align: center; margin-left: 3rem; margin-right: 3rem;">
            <p style="color: rgba(107,114,128,1); font-weight: 300;">
                Si no reconoce <strong>Atletas de Venezuela</strong>, no dude en ignorar este correo electrónico.
            </p>
            <p style="margin-top: .75rem; color: rgba(107,114,128,1); font-weight: 300;">
                Copyright @ {{year}} Todos los derechos reservados por Atletas de Venezuela
            </p>
        </footer>
        <div style="background-color: rgba(109,40,217,1); padding: 1em;"></div>
    </section>
</body>
